{% extends "pages/base.html" %} {% load static %} {% block content %}
<div class="about-container">
  <img
    src="{% static 'images/sam.jpg' %}"
    alt="My Photo"
    class="profile-photo"
  />

  <p><b>Name:</b> Julius Samson Yaji</p>
  <p><b>Occupation:</b> Student</p>
  <p><b>University:</b> Nasarawa State University, Keffi (NSUK)</p>
  <p><b>Department:</b> Computer Science</p>
  <p><b>Level:</b> 300 Level (SIWES)</p>
  <p><b>Country:</b> Nigeria</p>
  <p><b>State:</b> Nasarawa</p>
  <p><b>LGA:</b> Karu</p>
  <p><b>Ward:</b> Gitata</p>
  <p><b>Village:</b> Angwan Alura</p>
  <p><b>Address:</b> Oppo. Old Mai Angwan Residence</p>
</div>
{% endblock %}
